:root {

    /*(main background) */
    --Navy-950: hsl(233, 47%, 7%);
    /*(card background)*/
    --Blue-950: hsl(244, 37%, 16%);
    /* (accent)*/
    --Purple-500: hsl(277, 64%, 61%);


    --cont-width: 328px;
    --cont-padding: ;


    /* (main heading, stats) */
    --White-mainheading: hsl(0, 0%, 100%);

    /* (main paragraph) */
    --White-main-paragraph: hsla(0, 0%, 100%, 0.75);


    /* (stat headings) */
    --White-stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Navy-950);
    display: flex;
    justify-content: center;
    gap: 10px;

    min-height: 110vh;

    padding-bottom: 100px;

    font-size: 15px;
    text-align: center;




    font-family: "Inter", sans-serif;
}


.container {
    width: var(--cont-width);
    background-color: var(--Blue-950);
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */


    position: absolute;
    top: 30px;

    padding-bottom: 25px;
    margin-bottom: 20px;

}

.img {
    width: 100%;
    height: 241px;
    position: relative;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* overflow: hidden; */

    background-image: url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Purple-500);
    background-blend-mode: multiply;
    filter: brightness(0.8);
    margin-bottom: 15px;

}

img {
    width: var(--cont-width);

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    filter: blur(0px);
    height: 100%;
}




h1,
h2 {
    color: var(--White-mainheading);
}

h1 span {
    color: var(--Purple-500);
}

h1+p {
    color: var(--White-stat-headings);
    font-weight: 400;

    text-indent: 10px;
}


p {
    margin-bottom: 20px;
}

.df-cont span:nth-of-type(1) {
    color: var(--White-stat-headings);
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}

.cont2 {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}


.df-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 15px;
}





p {
    line-height: 1.6;
}


.df-cont span:nth-of-type(1),
h2 {

    text-transform: uppercase;
}


.attribution {
    position: absolute;
    bottom: 0;
}


@media (min-width:768px) {
    :root{
        all: unset;
        margin: 0;padding: 0;box-sizing: border-box;
        
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        all: unset;
        display: flex;
        flex-direction: row-reverse;
        border: 2px solid gold;
        width: 75vw;
        height: 50vh;
        

    }

    .img,
    .cont2 {
        width: 50%;

        height: 100%;
    }

    .img {
        border: 2px solid red;
    }

    .cont2 {
        border: 2px solid blue;
    }


}